<nav class="navbar navbar-expand-md navbar-inverse fixed-top bg-inverse">
<div class="container">
	<a href="/" class="navbar-brand">吉珠小助手</a>
	<button class="navbar-toggler pull-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
	<div class="navbar-collapse collapse" id="navbarCollapse" aria-expanded="false">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a href="/" class="nav-link">首页</a></li>
			<li class="nav-item"><a href="/assist/login/" class="nav-link">正方</a></li>
			<li class="nav-item"><a href="/lib/login/" class="nav-link">图书馆</a></li>
		</ul>
		<ul class="navbar-nav navbar-right">
		<li class="nav-item"><a href="/weixin" class="nav-link">微信</a></li>
		<li class="nav-item"><a href="/about" class="nav-link">关于</a></li>
		</ul>
	</div>
	</div>
</nav>